{% extends "base.html" %}

{% block content %}
    {% raw %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBU2IhITO_ygNUan5ortuYxJc6idxrsFlE&libraries=geometry"></script>

    <div id="index-container" ng-controller="indexController as indexCtl">
        <treasure-overlay-spinner active='spinner.active'>
    {% endraw %}
        <div ng-controller="gmapController as gmapCtl">
            <!-- Video Panel -->
            {% include "partials/_video_panel.html" %}
            <!-- map canvas dimensions will be computed during map initialization -->
            {% include "partials/_map.html" %}
        </div>
    {% raw %}
        </treasure-overlay-spinner>
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <script src="js/app-jq.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}