{% raw %}
    <div id="map-canvas"></div>

      <md-menu md-position-mode="target-right target" style="position:absolute;top:40px;right:5px;">
        <md-button aria-label="User" class="md-fab md-mini md-raised md-hue-1" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin>person</md-icon>
        </md-button>
        <md-menu-content width="1">
          <md-menu-item>
            <md-button>
                <a href="/logout" style="text-decoration: none; color: #000000;">
                    <div layout="row">
                      <p flex>Logout</p>
                    </div>
                </a>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
{% endraw %}
