<md-toolbar id="app-top-nav">
  <div class="md-toolbar-tools">

    <!--<md-button class="md-icon-button" aria-label="Menu">
      <md-icon>menu</md-icon>
    </md-button>-->

    <span class="solar-title">
      <a href="#">
        <img class="company-logo" src="/resources/images/navagis_logo.png">
      </a>
    </span>

    <span style="text-shadow: 1px 1px 2px rgba(0,0,0,.2);">Sample App</span>

    <span flex></span>

    <div class="powered-by">
        <img src="/resources/images/navagis_powered.png">
    </div>

  </div>
</md-toolbar>